.bg-box{
    background-color: green;
    background-image: url(https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg), url(./img/trava.png), url(./img/lamp.png), url(./img/ejuk.png), url(./img/bylochka.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: auto, 210px, 35px, 25px, 35px;
    background-position: center, bottom, top, left, right;
    width: 700px;
    height: 500px;
}